body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

h1{
    font-size: 36px;
}
h2 {
    color: #FFFFFF;
}

header {
    background-color: #151111; 
    color: #FFFFFF; 
    padding: 0.2rem;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    
}

.logo img {
    width: 90px; 
    height: auto;
    margin-left: 20px; 
}


nav ul {
    list-style: none;
    display: flex;
    margin-left: auto; 
}

nav ul li {
    margin: 0 15px; 
    font-size: 18px;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF; 
}

nav ul li a:hover {
    color: #14d353; 
}

.green-text {
    color: #00FF00; 
    font-weight: bold; 
}



.godzilla-movie {
    width: 130px; 
    height: auto; 
    display: block; 
    margin-left: 100px;
    margin-top: 20px;
}

.separator-line {
    width: 100%; 
    height: 2px;
    background-color: #888888;
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.intro{
    max-width: 500px;
    font-size: 30px;
    margin-left: 260px;
    margin-top: -200px;
}

.Checkout {
    display: inline-block;
    background-color: #FFFFFF;
    color: #000000;
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    margin-left: 400px; 
    margin-top: -200px; 
    position: flex;
}

.Checkout:hover {
    background-color: #14d353;
    color: #FFFFFF;
}

.your-cart{
text-align: center;
}


.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 230px;
    margin-left: 100px;
}

.forms-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 400px; 
    margin-top: -200px;
    font-size: 30px;
    font-weight: bolder;
}

.forms-row form {
    width: 100%; 
    margin-bottom: 20px;
}

.input-field,
.input-field-ccv {
    height: 60px;
    font-size: 30px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
}

.input-field-ccv {
    width: 33.33%; 
}




.info-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px; 
}

.lgo {
    width: 20%; 
    display: block;
    margin: 0 auto; 
    padding-top: 140px;
}

.Checkout{
    margin-top: 40px;
    margin-left: 85px;
    font-size: 30px;
    font-weight: bolder;
}

.film{
    text-align: center;
    font-size: 30px;
    margin-top: -5px;
}