body {
    margin: 0;
    padding: 0;
    background-color:#000000;
    font-family: 'roboto', sans-serif;
    color: #FFFFFF;
}

h1{
    font-size: 36px;
}
h2 {
    color: #FFFFFF;
}

header {
    background-color: #151111; 
    color: #FFFFFF; 
    padding: 0.2rem;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    
}

.logo img {
    width: 90px; 
    height: auto;
    margin-left: 20px; 
}


nav ul {
    list-style: none;
    display: flex;
    margin-left: auto; 
}

nav ul li {
    margin: 0 15px; 
    font-size: 18px;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF; 
}

nav ul li a:hover {
    color: #14d353; 
}

.product-movie {
    display: block;
    margin: 0 auto; /* This centers the image horizontally */
    max-width: 12%; /* This ensures the image does not exceed its original size */
    height: auto; /* This maintains the aspect ratio of the image */
    padding-top: 90px;
}

.product-txt {
    text-align: left; /* Align the text to the left */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.button-container {
    text-align: center;
}

.product-button {
    display: inline-block;
    background-color: #FFFFFF;
    color: #000000;
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}


.product-button:hover {
    background-color: #14d353;
    color: #FFFFFF;
}

.logoend{
    display: block;
    margin: 100px auto 10px;
    max-width: 30%;
    height: 100px;
    width: auto;
}
