body {
    margin: 0;
    padding: 0;
    background-color:#151111;
    font-family: 'roboto', sans-serif;
    color: #FFFFFF;
}

h2 {
    color: #FFFFFF;
}

header {
    background-color: #151111; /* Header background color */
    color: #FFFFFF; /* Text color */
    padding: 1rem;
    display: flex;
    align-items: center;
    font-size: 24px;
    
}

.logo img {
    width: 120px; /* Adjust the logo width as needed */
    height: auto;
    margin-left: 20px; /* Add margin to the logo */
}

nav ul {
    list-style: none;
    display: flex;
    margin-left: auto; /* Push the navigation to the right */
}

nav ul li {
    margin: 0 15px; /* Add space between the navigation links */
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF; /* Link color */
}

nav ul li a:hover {
    color: #ffcc00; /* Change link color on hover */
}

.video-container {
    width: 100%;
    height: 55vh;
    margin-bottom: 10px;
}

.movie-list-container{
    padding: 20px;
}

.movie-list-wrapper{
    position: relative;

}

.movie-list{
    display: flex;
    align-items: center;
    height: 400px;
}

.movie-list-item{
    margin-right: 30px;   
}

.movie-list-item:hover .movie-list-item-img{
    transform:scale(1.2);
    margin: 0 30px;
    opacity: 0.5;

}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-description,
.movie-list-item:hover .movie-list-item-button{
    opacity: 1;
}

.movie-list-item-img{
    width: 270px;
    object-fit: cover;
    height: 400px;
    transition:all 1s ease-in-out;
    border-radius: 20px;
}

.movie-list-item-title{
background-color: #151111;
padding: 0 10px;
font-size: 32px;
font-weight: bold;
position: absolute;
top: 40%;
left: 100px;
opacity: 0;
transition: 1s all ease-in-out;
}


.movie-list-item-description{
    background-color: #151111;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 70%;
    left: 10%;
    width: 230px;
    opacity 0; 
}

.movie-list-item-button{
    padding: 10px;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20%;
    opacity 0; 
}

.arrow{
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0px;
    color: #FFFFFF;
    opacity: 0.8;
    cursor: pointer;
}
