body {
    margin: 0;
    padding: 0;
    background-color:#000000;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    overflow-x: hidden;
}

h1{
    font-size: 36px;
}
h2 {
    color: #FFFFFF;
}

header {
    background-color: #151111; 
    color: #FFFFFF; 
    padding: 0.2rem;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    
}

.logo img {
    width: 90px; 
    height: auto;
    margin-left: 20px; 
}


nav ul {
    list-style: none;
    display: flex;
    margin-left: auto; 
}

nav ul li {
    margin: 0 15px; 
    font-size: 18px;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF; 
}

nav ul li a:hover {
    color: #14d353; 
}

.video-container {
    width: 100%;
    height: 65vh;
    margin-bottom: 10px;
    pointer-events: none;
}

.movie-list-container{
    padding: 20px;
}

.movie-list-wrapper{
    position: relative;

}

.movie-list{
    display: flex;
    align-items: center;
    height: 400px;
}

.movie-list-item{
    margin-right: 30px;   
}

.movie-list-item:hover .movie-list-item-img{
    transform:scale(1.2);
    opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-description,
.movie-list-item:hover .movie-list-item-button{
    opacity: 1;
}

.movie-list-item-img {
    width: 270px;
    object-fit: cover;
    height: 400px;
    transition: all 1s ease-in-out;
    border-radius: 20px;
}

.movie-list-item-title{
background-color: #151111;
padding: 0 10px;
font-size: 30px;
font-weight: bold;
position: absolute;
top: 40%;
left: 100px;
opacity: 0;
transition: 1s all ease-in-out;
}


.movie-list-item-description{
    background-color: #151111;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 70%;
    left: 10%;
    width: 230px;
    opacity: 0; 
}

.movie-list-item-button{
    padding: 10px;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20%;
    opacity: 0; 
}

.arrow{
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0px;
    color: #FFFFFF;
    opacity: 0.8;
    cursor: pointer;
}

a.movie-link {
    display: inline-block; 
    text-decoration: none; 
    color: inherit; 
}

footer {
    background-color: #151111;
    color: #FFFFFF;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    width: 100%; /* Make the footer 100% of the screen width */
    box-sizing: border-box;
}

footer ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

footer ul li {
    margin: 0 15px;
}

footer ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

footer ul li a:hover {
    color: #14d353;
}



/* CSS for screens 933px or larger */
@media screen and (min-width: 934px) {
    .arrow {
        display: inline-block; /* Show the arrow icon for screens larger than 933px */
    }
    header nav {
        display: block; /* Show the header links for screens larger than 934px */
    }
    footer {
        display: none; /* Hide the footer for screens larger than 934px */
    }
}

/* CSS for screens 933px or smaller */
@media screen and (max-width: 933px) {
    .arrow {
        display: none; /* Hide the arrow icon for screens 933px or smaller */
    }
    header nav {
        display: none; /* Hide the header links for screens 934px or smaller */
    }
    footer {
        display: block; /* Show the footer links for screens 934px or smaller */
    }
}
