body {
    margin: 0;
    padding: 0 15px;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    overflow-x: hidden;
}

.main-content-container { /* Replace '.main-content-container' with the selector of your main content container if you have one. */
    padding-bottom: 50px; /* Adjust this value based on the height of your footer. */
}

body, html {
    margin: 0;
    padding: 0;
}

h1{
    font-size: 36px;
}
h2 {
    color: #FFFFFF;
}

header {
    background-color: #151111; 
    color: #FFFFFF; 
    padding: 0.2rem;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    
}

.logo img {
    width: 90px; 
    height: auto;
    margin-left: 20px; 
}


nav ul {
    list-style: none;
    display: flex;
    margin-left: auto; 
}

nav ul li {
    margin: 0 15px; 
    font-size: 18px;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF; 
}

nav ul li a:hover {
    color: #14d353; 
}

.video-container {
    width: 100%;
    height: 65vh;
    margin-bottom: 10px;
    pointer-events: none;
}

.movie-list-container{
    padding: 20px;
}

.video-content{
   
}

.movie-list-wrapper{
    position: relative;

}

.movie-list{
    display: flex;
    align-items: center;
    height: 400px;
}

.movie-list-item{
    margin-right: 30px;   
}

.movie-list-item:hover .movie-list-item-img{
    transform:scale(1.2);
    opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-description,
.movie-list-item:hover .movie-list-item-button{
    opacity: 1;
}

.movie-list-item-img {
    width: 270px;
    object-fit: cover;
    height: 400px;
    transition: all 1s ease-in-out;
    border-radius: 20px;
}

.movie-list-item-title{
background-color: #151111;
padding: 0 10px;
font-size: 30px;
font-weight: bold;
position: absolute;
top: 40%;
left: 100px;
opacity: 0;
transition: 1s all ease-in-out;
}


.movie-list-item-description{
    background-color: #151111;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 70%;
    left: 10%;
    width: 230px;
    opacity: 0; 
}

.movie-list-item-button{
    padding: 10px;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20%;
    opacity: 0; 
}

.arrow{
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0px;
    color: #FFFFFF;
    opacity: 0.8;
    cursor: pointer;
}

a.movie-link {
    display: inline-block; 
    text-decoration: none; 
    color: inherit; 
}

footer {
    bottom: 0;
    background-color: #151111;
    color: #FFFFFF;
    padding: 1rem;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    justify-content: center; 
    box-sizing: border-box;
    padding-left: 0;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 0;
    margin-right: -50vw;
}

footer, 
element-before-footer { /* Replace 'element-before-footer' with the actual selector of the element before your footer. */
    margin-bottom: 0;
}


.footer-content {
    width: 100%; /* or whatever the width of .container is */
    max-width: 1200px; /* example max-width, adjust if your .container has one */
    margin: 0 auto; /* center the .footer-content */
    padding-left: 20px; /* if your .container has padding-left, match it here */
}


.spacer {
    flex: 1; /* This will make the spacer take up all available space */
    max-width: 100%;
}

footer ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

footer ul li {
    margin: 0 15px;
}

footer ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

footer ul li a:hover {
    color: #14d353;
}

footer nav ul li {
    margin: 0 10px; 
}

.newf {
    text-align: center; /* Center align the contents inside .newf */
}

.newf a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px; /* Add some top margin for spacing */
}

.newf a.button:hover {
    background-color: #45a049;
}

.newf img {
    width: 240px; /* Set the width to 100% of the parent container */
    height: 400px; /* Maintain the aspect ratio of the image */
    margin-top: 40px;
}


@media screen and (min-width: 734px) {
    .arrow {
        display: inline-block; 
    }
    header nav {
        display: block; 
    }
    footer {
        display: none; 
    }
    .video-content {
        display: none; 
    }
    .video-container{
        display: block;
    }

    #youtube-video {
        display: block; /* Hide YouTube video on smaller screens */
    }

   
}


@media screen and (max-width: 733px) {
    header nav {
        display: none; 
    }
    footer {
        display: block; 
    }

    .movie-list-item-img {
        width: 155px; 
        height: 260px; 
        border-radius: 5px;
    }
    .movie-list-title {
        margin-top: 15px; 
    }

    .movie-list-item {
        margin-right: 15px;
        margin-top: -130px; 
    }

    .video-content {
        display: block; /* Show video content on smaller screens */
    }

    #youtube-video {
        display: none; /* Hide YouTube video on smaller screens */
    }
    
    .video-content h1 {
        text-align: center;
        margin-bottom: 200px;
    }

    .movie-list-container{
        padding: 5px;
        margin-top: -100px;
    }


}